@import url("../style.css");
.survey-section{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.survey-container{
    margin: 10px 300px;
}
.survey-form{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
    text-align: left;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}
.question-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rating-container{
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 18px;
    justify-items: center;
    align-items: center
}
.question-content{
    font-size: 20px;
}
.input-radio{
    
    width: 20px;
    height: 20px;
    border: none;
    background-color: black;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.input-radio:focus,
.input-radio:checked
{
    accent-color: rebeccapurple;
}
.btn-survey{
    margin:0 20%;
    width: 60%;
    /* display: flex;
    justify-self: center;
    align-self: center; */
}

