@media only screen and (max-width: 1200px){
    .nav-list{
        font-size: 15px;
        margin: 10px  ;
        padding: 0 5px;
    }
    .nav-heading{
        font-size:30px ;
    }

    .nav-link{
        font-size: 18px;
    }
    .hero-heading{
        font-size: 50px;

    }
    .secondary-heading{
    font-size: 35px;

    }

    /* /////////////////////// */
    /* Languages Section */
    /* /////////////////////// */
   

    /* /////////////////////// */
    /* Languages Section */
    /* /////////////////////// */
    .carousel-cs{
        transform: scale(90%);
        -webkit-transform: scale(90%);
        -moz-transform: scale(90%);
        -ms-transform: scale(90%);
        -o-transform: scale(90%);
    }
/* /////////////////////// */
    /* Testimaonial Section */
    /* /////////////////////// */
    

    /* /////////////////////// */
    /* Gallery Section */
    /* /////////////////////// */
    
    .gallery > img {
        width: 400px !important;
        height: 300px !important;
    }
    /* /////////////////////// */
    /* Testimonial Section */
    /* /////////////////////// */

   





}

@media only screen and (max-width: 992px) {
     /* /////////////////////////// */
    /* Header Section */
    /* /////////////////////////// */
    .header{
        padding: 5px 10px;
    }
    .nav-img-container{
        height: 50px;
        width: 50px;
    }
    .nav-heading{
        font-size:25px ;
        padding: 0;
    }
    .nav-list{
        margin: 0;
    }
    .nav-link{
        font-size: 13px;
    }
    /* /////////////////////////// */
    /* Hero Section */
    /* /////////////////////////// */
    .hero-section{
        padding :5% 7% 0 7%;
    }


    .hero-heading{
        font-size: 35px;

    }
    .secondary-heading{
    font-size: 25px;

    }
    .tertiary-heading{
        
        font-size: 18px;
    }
    .hero-text-content{
        font-size: 13px;
    }
    .btn-container{
        width: 50%;

    }
    .btn{
        width:130px;
        padding: 5px 5px;
        font-size: 13px;
    }
    .socials-section{
        top: 100px;
    }
    .social-link{
        font-size:10px !important;

    }
    /* /////////////////////// */
    /* Gallery Section */
    /* /////////////////////// */
    
    
    .gallery > img {
        width: 300px !important;
        height: 200px !important;
    }
    /* /////////////////////// */
    /* Charts Section */
    /* /////////////////////// */
    .chart-section{
        padding: 0;
        margin: 0;
    }
    .chart-container{
        height: 500px !important;
        padding: 0;
        margin: 0;
       
    }
    /* /////////////////////// */
    /* Testimonial Section */
    /* /////////////////////// */
    .testimonial-section{
        margin: 40px 0 ;
    }
    
    
}

@media only screen and (max-width: 768px) {
    /* /////////////////////////// */
    /* Header Section */
    /* /////////////////////////// */
    .nav-list{
        
        margin: 5px  ;
        padding: 0 0px;
    }
    .nav-heading{
        font-size:20px ;
        padding: 0;
    }
    .nav-link{
        font-size: 10px;
    }
    .nav-item{
        margin: 0;
        padding: 0;
    }

    .socials-section{
        height: 150px;
    }
    .btn-container{
        width: 60%;

    }
    /* /////////////////////// */
    /* Gallery Section */
    /* /////////////////////// */
    
    .gallery > img {
        width: 250px !important;
        height: 200px !important;
    }
    /* /////////////////////// */
    /* Charts Section */
    /* /////////////////////// */
    .chart-container{
        height: 400px !important;
    }
    /* /////////////////////// */
    /* Testimonial Section */
    /* /////////////////////// */
    
    

}

@media only screen and (max-width: 600px) {

    
    /* /////////////////////// */
    /* Map Section */
    /* /////////////////////// */
    .map-section{
        height: 400px !important;
        
        
    }
    .map-container{
        height: 300px !important;
        width: 300px !important;

    }
    /* /////////////////////// */
    /* Gallery Section */
    /* /////////////////////// */

    .gallery > img {
        width: 200px !important;
        height: 150px !important;
    }
    /* /////////////////////// */
    /* Charts Section */
    /* /////////////////////// */
    .chart-section{
        padding: 0 !important;
        margin: 0 !important;
    }
    .chart-container{
        height: 400px !important;
        /* padding: 0 !important; */
        
       
    }
    .radar{
        /* background-color: red; */
        width: 100%;
    }
    /* /////////////////////// */
    /* Testimonial Section */
    /* /////////////////////// */
    
}
@media only screen and (max-width: 490px) {

    .primary-heading{
        font-size: 40px;
    }
    /* /////////////////////////// */
    /* Header Section */
    /* /////////////////////////// */
    .header{
        padding:0px;
        justify-content: space-around;
        height: 50px;
        /* border-bottom: solid 1px var(--light-color); */
    }
    .nav-img-container{
        position: absolute;
        top: 80px;
        right: 30px;
        height: 50px;
        width: 50px;
        
}
    .nav-img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .nav-heading{
        width: 25%;
        font-size:15px ;
        padding: 0;
        /* height: fit-content; */
    }
    .nav-item{
        width: 150px;
    }
    .nav-link{
        padding: 5px 0;
        font-size: 10px;
        justify-content: space-around;
    }
    .nav-list{
        width: 75%;
        margin: 0;
    }
    /* ///////////////////////// */
    /* Hero section */
    /* ///////////////////////// */

    .hero-section{
        justify-content: center;
        padding: 40px 30px ;
    }
    .hero-heading{
        font-size: 30px;
    }
    .tertriary-heading{
        font-size: 15px;
    }
    .secondary-heading{
        font-size: 20px;
    }
    .hero-text-content{
        padding: 30px 0;
        text-align: left;
        width: 95%;
        font-size: 13px;
        line-height: 1.6;
    }
    .btn{
        width:80px;
        padding: 5px 5px;
        font-size: 10px;
    }
    /* /////////////////////// */
    /* BTN Section */
    /* /////////////////////// */
    .btn-container{
        width: 100%;
    }
    .btn{
        width: 150px;
        font-size: 15px;
    }
    /* /////////////////////// */
    /* Socials Section */
    /* /////////////////////// */

    .socials-section{
        top: 180px;
    }
    /* /////////////////////// */
    /* Languages Section */
    /* /////////////////////// */
    .languages-heading{
        font-size: 20px;
    }

    /* /////////////////////// */
    /* Gallery Section */
    /* /////////////////////// */

    .gallery > img {
        width: 150px !important;
        height: 100px !important;
    }
    /* /////////////////////// */
    /* Map Section */
    /* /////////////////////// */
    .map-container{
        height: 30%;
        width: 20px;
}
/* /////////////////////// */
    /* Sign in Section */
    /* /////////////////////// */

.underlay{
    margin: 15px 7.5px;
    padding: 20px;
}
/* /////////////////////// */
    /* Menu  Section */
/* /////////////////////// */
.menu-grid{
    padding: 30px 20px;
}
.item-content{
    /* height: 75px; */
    height: min-content;
    width: 225px;

}
/* /////////////////////// */
    /* Charts Section */
/* /////////////////////// */
    .chart-container{
        padding: 0 !important;
        margin: 10px 0 !important;
        height: max-content !important;
    }
    /* /////////////////////// */
    /* Testimonial Section */
/* /////////////////////// */
   

    .testimonial-section{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 20px 0 0 0 ;
    }
    .testimonial-card{
        width: auto;
        margin: 50px 20px 0 20px;
        padding: 0px 0 0;
    }
    .testimonial-textbox{
        padding-bottom: 40px;

    }
    
    

}

@media only screen and (max-width: 325px) {
    

}